body{
    margin: 0%;
    padding: 0%;    
}
header{
    margin: 0%;
    padding: 0%;
}
h1{
    text-decoration: underline;
     color: black;  
     display: flex;
     justify-content: center; 
}
h1:hover{
    color: rgb(111, 193, 221);
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    font-size: 22px;
    color: black;
}
header nav ul li a:hover{
    color: rgb(111, 193, 221);
    font-size: 26px;
    text-decoration: underline;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article div{
    margin-top: 5%;
}